body {
	background: white;
	margin: 0;
	padding: 0;
}

.conteiner {
	border-left: 2px solid lightgray;
	margin-left: 20px;
	padding-left: 5px;
	margin-right: 20px;
}

.line {
	height: 35px;
	background: lightgrey;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding-top: 5px;
	text-align: center;
}

.persent {
	text-align: right;
	padding-top: 7px;
	color: transparent;
	height: 35px;
	box-sizing: border-box;
	padding-right: 5px;
	position: absolute;
	bottom: 0;
	width: 0;
	background: transparent;
	transition: 1s;
}

input {
	display: none;
}

input:checked +.line>.html {
	width: 90%;
	transition: 1s;
	color: white;
	background: green;
}

input:checked +.line>.css {
	transition: 1s;
	color: white;
	width: 80%;
	background: blue;
}

input:checked +.line>.javascript {
	transition: 1s;
	color: white;
	width: 65%;
	background: red;
}

input:checked +.line>.php {
	transition: 1s;
	color: white;
	width: 60%;
	background: grey;
}