body {
	background: lightblue;
}

div{
	height: 20px;
	background: seagreen;
}
.top {
	width: 400px;
	height: 200px;
	margin: auto;
	background: transparent;
	border: 100px solid transparent;
	box-sizing: border-box;
	border-bottom-color: seagreen;
}
.content{
	width: 600px;
	background: transparent;
}
.bottom {
	width: 600px;
	height: 100px;
	margin: auto;
}
.window {
	background: lightgrey;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-bottom: 110px;
	margin-left: -85px;
}
.front {
	background: transparent;
	border-bottom: 40px solid lightgrey;
	border-right: 40px solid lightgray;
	border-top: 40px solid transparent;
	border-left: 40px solid transparent;
	box-sizing: border-box;

}
.left {
	margin-left: 2px;
}
.right {
	margin-left: 2px;
}
.back {
	margin-left: 2px;
	background: transparent;
	border-bottom: 40px solid lightgrey;
	border-left: 40px solid lightgray;
	border-top: 40px solid transparent;
	border-right: 40px solid transparent;
	box-sizing: border-box;
}
.line {
	background: darkgreen;
	display: inline-block;
	width: 5px;
	height: 200px;
	margin-left: 2px;
}
.bottom {
	border-radius: 10px;
}
.wheal {
	height: 80px;
	width: 80px;
	background: silver;
	display: inline-block;
	margin-left: 90px;
	border-radius: 40px;
	border: 30px solid black;
	box-sizing: border-box;
}
.handle {
	display: inline-block;
	height: 120px;
	width: 20px;
	margin-left: 80px;
	border-top: 15px solid #6e8b3d;
	background: transparent;
}