body {
	background: white;
}

.blocks {
	height: 250px;
	width: 300px;
	display: inline-block;
	margin: -2px;
	position: relative;
	background: white;
	overflow: hidden;
}
img {
	height: 250px;
	width: 100%;
}
.dish {
	width: 100%;
	position: absolute;
	opacity: 0.5;
	color: white;
	font-family: Arial;
	font-size: 30px;
	box-sizing: border-box;
	transition: 1s;
	background: grey;
}
.name {
	height: 35px;
	bottom: 0px;
} 
.blocks:hover .name {
	opacity: 1;
	background: lightgrey;
	bottom: 254px;
	padding-left: 160px;
	transition: 1s;
}
.name1 {
	height: 250px;
	bottom: 0px;
	left: 300px;
	text-align: center;
	padding-top: 100px;
} 
.blocks:hover .name1 {
	transition: 1s;
	left: 0;
}
.name2 {
	height: 250px;
	top: 250px;
	padding-top: 100px;
	text-align: center;
} 
.blocks:hover .name2 {
	transition: 1s;
	top: 0;
}
.name3 {
	height: 250px;
	bottom: 250px;
	padding-top: 100px;
	text-align: center;
} 
.blocks:hover .name3 {
	transition: 1s;
	bottom: 0;
}