body {
	background: #E6C18C;
}
.conteiner {
	background: #C8D037;
	margin: 5px auto;
	width: 960px;
}
.dish {
	display: inline-block;
	width: 300px;
	margin: 15px 8px 20px;
	box-sizing: border-box;
	vertical-align: top;
	min-height: 550px;
	background: #BEBEBE;
	border-radius: 5px 5px 5px 5px;
}
img {
	width: 100%;
	height: 200px;
	
}
.text {
	top: 150px;
	text-align: center;
	font-size: 20px;
	color: #860A21;
	padding: 10px;
}
.dish:hover {
	box-shadow: 5px 5px 5px 5px #0C2A4D;
}
.container-flex {
	display: flex;
	flex-wrap: wrap;
}
