body {
	margin: 0;
	padding: 0;
}

input {
	display: none;
}

.conteiner {
	margin: auto;
	width: 70%;
	background: grey;
}

label {
	height: 30px;
	background: brown;
	width: 20px;
	display: inline-block;
	text-align: center;
}
.button {
	margin: 0 40%;
}
.content {
	margin: auto;
}
.block {
	width: 30%;
	height: 100px;
	background: blue;
	margin: 5px;
	display: inline-block;
}
#one:checked ~.content>.block {
	width: 30%;
	height: 100px;
}
#two:checked ~.content>.block {
	width: 95%;
	height: 100px;
}
#three:checked ~.content>.block {
	width: 47%;
	height: 100px;
}