* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
nav {
	position: fixed;
	width: 250px;
	background: #57626F;
	border: 4px solid #E0E5EA;
	transition: 1s;
	margin-top: 10px;
	border-radius: 10px;
}
.nav-one {
	left: -254px;
}
ul li:first-child {
	text-align: center;
	color: white;
	font-size: 1.95em;
	list-style: none;
	padding: 25px 10px 10px 10px;
}
ul li:not(:first-child) {
	width: 90%;
	margin-left: 10%;
	font-size: 1.1em;
	list-style: none;
	padding: 15px 10px;
}
a {
	color: #dfe5ed;
	text-decoration: none;
}
a:hover {
	color: #59e9df;
}
.button {
	position: absolute;
	left: 270px;
	top: 20px;
	background: #E0e5ea;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
}
.button:hover {
	background: #556270;
}
.button:hover span {
	background: #fafafa;
}
span {
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	margin: 4px;
}
input {
	display: none;
}
input:checked + .nav-one {
	left: 10px;
	transition: 1s;
} 
.nav-two {
	right: -255px;
}
.button-two {
	left: -70px;
	height: 30px;
	width: 33px;
}
.span-two {
	position: relative;
	top: 8px;
}
.span-two::before {
	content: '';
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	position: relative;
	top: -8px;
	transition: 1s;
}
.span-two::after {
	content: '';
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	margin-top: 5px;
	transition: 1s;
}
.span-two {
	transition: 1s;
}
input:checked + .nav-two {
	right: 0;
	transition: 1s;
}

input:checked + .nav-two .button-two span::before{
	transition: 1s;
	transform: rotate(45deg) translateY(7px) translateX(6px);
}
input:checked + .nav-two .button-two span::after{
	transition: 1s;
	transform: rotate(-45deg) translateY(-7px) translateX(4px);
}
.button-two {
	transition: 1s;
}
input:checked + .nav-two .button-two .span-two{
	height: 0;
	transition: 0s;
}
.button-two:hover .span-two::before {
	background: #fafafa;
}
.button-two:hover .span-two::after {
	background: #fafafa;
}
.nav-three {
	left: 50%;
	top: -300px;
}
.button-three {
	position: relative;
	top: 300px;
	left: 90px;
	width: 32px;
	height: 32px;
}
.span-three {
	margin-top: 13px;
	transition: 1s;
}
.span-three::before {
	content: '';
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	transition: 1s;
	transform: translateY(-8px);
}
.span-three::after {
	content: '';
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	transition: 1s;
	transform: translateY(4px);
}
.button-three:hover .span-three:before {
	background-color: #fafafa;
}
.button-three:hover .span-three:after {
	background-color: #fafafa;
}

input:checked + .nav-three .button-three .span-three {
	background-color: rgba(200, 200, 200, 0);
}
input:checked + .nav-three .button-three span::before {
	transform: rotate(45deg) translateY(0px) translateX(1px);
}
input:checked + .nav-three .button-three span::after {
	transform: rotate(-45deg) translateY(-2px) translateX(2px);
}
input:checked + .nav-three {
	top: 0px;
}